[Unit]
Description=Mount Share at boot - unraid.zendomu.local/public
Requires=network.target
After=network.target

[Mount]
What=//unraid.zendomu.local/public
Where=/mnt/unraid/public
Options=uid=1000,gid=1000,_netdev,credentials=/etc/samba/credentials/william,iocharset=utf8,rw
Type=cifs
TimeoutSec=10

[Install]
WantedBy=multi-user.target
